<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>      <rules>
        <!-- Azure health check special handling -->
        <rule name="AzureHealthCheck" stopProcessing="true">
          <match url="robots933456\.txt" />
          <action type="None" />
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>    <iisnode watchedFiles="*.js" nodeProcessCommandLine="node" />
    <appSettings>
      <add key="PORT" value="%WEBSITE_PORT%" />
    </appSettings>
  </system.webServer>
</configuration>
